{% extends 'daycare/base.html' %}

{% block content %}
<style>
    input {
        border: 2px solid black;
    }
    select {
        border: 2px solid black;
    }
    .btn {
        border: 2px solid grey;
        background-color: grey;
        color: white;
        border-radius: 4px;
    }
    .container {
        width: 580px;
        height: 700px;
        padding: 40px;
        margin-top: 5px;
        margin-bottom: 60px;
        background-color: white;
        border-radius: 30px;
        margin-left: 260px;
        border: 1px solid black; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);   
    }
    input[type="text"],
    input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%; 
}
.bby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

}
</style>
    <h2 class="mb-4" style="text-align: center; font-szie:20px;"><b>ADD BABY PAYMENT</b></h2>
    <div class="container mt-4">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            <label for="{{ form.b_name.id_for_label }}">{{ form.b_name.label }}</label>
            {{ form.b_name }}
            {{ form.b_name.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.paid_on.id_for_label }}">{{ form.paid_on.label }}</label>
            {{ form.paid_on }}
            {{ form.paid_on.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.full_day.id_for_label }}">{{ form.full_day.label }}</label>
            {{ form.full_day }}
            {{ form.full_day.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.half_day.id_for_label }}">{{ form.half_day.label }}</label>
            {{ form.half_day }}
            {{ form.half_day.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.amount_due.id_for_label }}">{{ form.amount_due.label }}</label>
            {{ form.amount_due }}
            {{ form.amount_due.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.paid_amount.id_for_label }}">{{ form.paid_amount.label }}</label>
            {{ form.paid_amount }}
            {{ form.paid_amount.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.balance_left.id_for_label }}">{{ form.balance_left.label }}</label>
            {{ form.balance_left }}
            {{ form.balance_left.errors }}
        </div>

        <button type="submit" class="btn btn-secondary mt-2">Submit</button>
    </form>
</div>
{% endblock %}
