{% extends 'daycare/base.html' %}

{% block content %}
<style>
    input {
        border: 2px solid black;
    }
    select {
        border: 2px solid black;
    }
    .btn {
        border: 2px solid grey;
        background-color: grey;
        color: white;
        border-radius: 4px;
    }
    .container {
        width: 580px;
        height: 700px;
        padding: 40px;
        margin-top: 5px;
        margin-bottom: 60px;
        background-color: white;
        border-radius: 30px;
        margin-left: 260px;
        border: 1px solid black; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);   
    }
    input[type="text"],
    input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%; 
}
.bby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

}
</style>
<body>
    <h1 style="font-size: 30px; text-align: center;"><b>BABY REGISTRATION FORM</b></h1>
</br>
    <div class="container">
    <form method="post" action="{% url 'add_baby' %}" class="bby">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="margin-left: 180px;" class="btn">Submit</button>
    </form>
    </div>

</body>
</html>

{% endblock %}

