{% extends 'daycare/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Delete Sitter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Delete Sitter</h1>
        <p>Are you sure you want to delete {{ sitter.s_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-danger">Delete</button>
            <button type="submit" name="cancel" class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</body>
</html>


{% endblock %}

