{% extends 'daycare/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Departure Details</title>
</head>
<body>
    <h1>Departure Details</h1>
    <p>Baby Name: {{ departure.b_name }}</p>
    <p>Departure Time: {{ departure.departure_time }}</p>
    <p>Picked By: {{ departure.picked_by }}</p>
    <p>Comment: {{ departure.comment }}</p>
    
    <a href="{% url 'edit_departure' departure.id %}">Edit</a>
    <a href="{% url 'delete_departure' departure.id %}">Delete</a>
</body>
</html>

{% endblock content %}


