{% extends 'daycare/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4" style="text-align: center;"><b>DEPARTURE DETAILS</b></h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered mt-1">
                <tbody>
                    <tr>
                        <th>Baby Name</th>
                        <td>{{ departure.b_name }}</td>
                    </tr>
                    <tr>
                        <th>Departure Time</th>
                        <td>{{ departure.departure_time }}</td>
                    </tr>
                    <tr>
                        <th>Picked By</th>
                        <td>{{ departure.picked_by }}</td>
                    </tr>
                    <tr>
                        <th>Comment</th>
                        <td>{{ departure.comment }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{% url 'list_departures' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to Departure List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
