{% extends 'daycare/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2><b>Departure List</b></h2>
</br>
    <table class="table">
        <thead>
            <tr>
                <th>Baby Name</th>
            </tr>
        </thead>
        <tbody>
            {% for departure in departures %}
                <tr>
                    <td><a href="{% url 'view_departure' departure.id %}">{{ departure.b_name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'add_departure' %}" class="btn btn-secondary">Add Departure</a>
</div>
{% endblock %}
