{% extends 'daycare/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Doll Types</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Doll Type Name</th>
            </tr>
        </thead>
        <tbody>
            {% for doll_type in doll_types %}
                <tr>
                    <td>{{ doll_type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'add_doll_type' %}" class="btn btn-secondary">Add Doll Type</a>
</div>
{% endblock %}
