{% extends 'daycare/base.html' %}

{% block content %}
<h2 style="font-size: 25px; text-align: center;"><b>Doll Types</b></h2>
<div class="container mt-4">
                         
    <table class="table">
        <thead>
            <tr>
                <th>Doll Type Name</th>
            </tr>
        </thead>
        <tbody>
            {% for doll_type in doll_types %}
                <tr>
                    <td>{{ doll_type.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'add_doll_type' %}" class="btn btn-secondary">Add Doll Type</a>
</div>
{% endblock %}
