{% extends 'daycare/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4" style="text-align: center;"><b>DOLL DETAILS</b></h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered mt-1">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ doll.doll_name }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ doll.t_name }}</td>
                    </tr>
                    <tr>
                        <th>Color</th>
                        <td>{{ doll.color }}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{ doll.size }}</td>
                    </tr>
                    <tr>
                        <th>Quantity</th>
                        <td>{{ doll.quantity }}</td>
                    </tr>
                    <tr>
                        <th>Quantity Issued</th>
                        <td>{{ doll.quantity_issued }}</td>
                    </tr>
                    <tr>
                        <th>Quantity Received</th>
                        <td>{{ doll.quantity_received }}</td>
                    </tr>
                    <tr>
                        <th>Unit Price</th>
                        <td>{{ doll.unit_price }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ doll.date }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{% url 'list_dolls' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to Doll List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
