{% extends 'daycare/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 style="font-size: 25px;"><b>Item List</b></h2>
</br>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_item' %}" class="btn btn-secondary">Add Item</a>
</div>
{% endblock %}
