{% extends 'daycare/base.html' %}

{% block content %}
<style>
    input {
        border: 2px solid black;
    }
    select {
        border: 2px solid black;
    }
    .btn {
        border: 2px solid grey;
        background-color: grey;
        color: white;
        border-radius: 4px;
    }
    .container {
        width: 580px;
        height: 500px;
        padding: 40px;
        margin-top: 5px;
        margin-bottom: 60px;
        background-color: white;
        border-radius: 30px;
        margin-left: 260px;
        border: 1px solid black; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);   
    }
    input[type="text"],
    input[type="number"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%; 
}
.bby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

}
</style>

    <h2 style="font-size: 25px; text-align: center;"><b>Item List</b></h2>
</br>
<div class="container mt-4">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
    </div>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_item' %}" class="btn btn-secondary">Add Item</a>
</div>
{% endblock %}
