{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>New Item Sale</title>
    <script>
        function calculateTotal() {
            var quantity = parseInt(document.getElementById('id_quantity').value);
            var unitPrice = parseInt(document.getElementById('id_unit_price').value);
            var totalCost = quantity * unitPrice;
            document.getElementById('id_total_cost').value = totalCost;
        }
    </script>
</head>
<body>
    <h1>New Item Sale</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" onclick="calculateTotal()">Calculate Total Cost</button>
        <button type="submit">Add Item Sale</button>
    </form>
</body>
</html> {% endcomment %}



<!DOCTYPE html>
<html>
<head>
    <title>New Item Sale</title>
</head>
<body>
    <h1>New Item Sale</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Item Sale</button>
    </form>
</body>
</html> 
