{% extends "daycare/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Sitter List</title>
</head>
<body>
    <h1><b>Sitter List</h1></b>
    <table>
        <thead>
            <tr>
                <th>Names</th>
            </tr>
        </thead>
        <tbody>
            {% for sitter in sitters %}
                <tr>
                    <td><a href="{% url 'view_sitter' sitter.id %}">{{ sitter.s_name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_sitter' %}" class="btn btn-primary">Add Sitter</a>
    
</body>
</html>

{% endblock %}
