<!DOCTYPE html>
<html>
<head>
    <title>Sitter Details</title>
</head>
<body>
    <h1>Sitter Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ sitter.s_name }}</li>
        <li><strong>Location:</strong> {{ sitter.location }}</li>
        <li><strong>Date of Birth:</strong> {{ sitter.date_of_birth }}</li>
        <li><strong>Gender:</strong> {{ sitter.get_gender_display }}</li>
        <li><strong>Next of Kin:</strong> {{ sitter.next_of_kin }}</li>
        <li><strong>NIN:</strong> {{ sitter.nin }}</li>
        <li><strong>Recommender Name:</strong> {{ sitter.recommender_name }}</li>
        <li><strong>Religion:</strong> {{ sitter.religion }}</li>
        <li><strong>Education Level:</strong> {{ sitter.education_level }}</li>
        <li><strong>Sitter Number:</strong> {{ sitter.sitter_number }}</li>
        <li><strong>Contacts:</strong> {{ sitter.contacts }}</li>
        
    </ul>
    <a href="{% url 'sitter_edit' sitter_id=sitter.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'sitter_delete' sitter_id=sitter.pk %}" class="btn btn-danger">Delete</a>
</body>
</html>





























{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Sitter List</title>
</head>
<body>
    <h1>Sitter List</h1>
    <ul>
        {% for sitter in sitters %}
            <li>
                <a href="{% url 'sitter_details' sitter_id=sitter.pk %}">{{ sitter.s_name }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html> {% endcomment %}





























{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Sitter Details</title>
</head>
<body>
    <h1>Sitter Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ sitter.s_name }}</li>
        <li><strong>Location:</strong> {{ sitter.location }}</li>
        <li><strong>Date of Birth:</strong> {{ sitter.date_of_birth }}</li>
        
        <!-- Add other sitter details as needed -->
    </ul>
</body>
</html> {% endcomment %}
