{% extends 'daycare/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4" style="text-align: center;"><b>SITTER DETAILS</b></h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-bordered mt-1">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ sitter.s_name }}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{ sitter.location }}</td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td>{{ sitter.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{ sitter.get_gender_display }}</td>
                    </tr>
                    <tr>
                        <th>Next of Kin</th>
                        <td>{{ sitter.next_of_kin }}</td>
                    </tr>
                    <tr>
                        <th>NIN</th>
                        <td>{{ sitter.nin }}</td>
                    </tr>
                    <tr>
                        <th>Recommender Name</th>
                        <td>{{ sitter.recommender_name }}</td>
                    </tr>
                    <tr>
                        <th>Religion</th>
                        <td>{{ sitter.religion }}</td>
                    </tr>
                    <tr>
                        <th>Education Level</th>
                        <td>{{ sitter.education_level }}</td>
                    </tr>
                    <tr>
                        <th>Sitter Number</th>
                        <td>{{ sitter.sitter_number }}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ sitter.contact }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{% url 'list_sitters' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
