{% extends 'daycare/base.html' %}

{% block content %}
<style>
    /* Custom CSS to adjust column sizes and position submit button */
    .form-label {
        margin-bottom: 0.5rem;
    }
     input {
            border: 2px solid black;
    }
    select {
            border: 2px solid black;
    }
        form p {
            margin-bottom: 10px !important;
        }

        form p label {
            display: block;
            margin-bottom: 5px !important; 
        }
        .container {
            width: 580px;
            height: 600px;
            padding: 40px;
            margin-top: 5px;
            margin-bottom: 60px;
            background-color: white;
            border-radius: 30px;
            margin-left: 200px;
            border: 1px solid black; 
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);   
        }
        input[type="text"],
        input[type="number"] {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
    }
    select {
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        width: 100%; 
    }
    .bby {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    
    }
</style>
<h2 class="mb-4" style="font-size: 30px; text-align: center;"><b>SITTER REGISTRATION FORM</b></h2>
    <div class="container mt-4">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.s_name.id_for_label }}" class="form-label">{{ form.s_name.label }}</label>
                {{ form.s_name }}
                {{ form.s_name.errors }}
            </div>
            <div class="col">
                <label for="{{ form.location.id_for_label }}" class="form-label">{{ form.location.label }}</label>
                {{ form.location }}
                {{ form.location.errors }}
            </div>
        </div>
        
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">{{ form.date_of_birth.label }}</label>
                {{ form.date_of_birth }}
                {{ form.date_of_birth.errors }}
            </div>
            <div class="col">
                <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }}</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>
        </div>
        
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.next_of_kin.id_for_label }}" class="form-label">{{ form.next_of_kin.label }}</label>
                {{ form.next_of_kin }}
                {{ form.next_of_kin.errors }}
            </div>
            <div class="col">
                <label for="{{ form.nin.id_for_label }}" class="form-label">{{ form.nin.label }}</label>
                {{ form.nin }}
                {{ form.nin.errors }}
            </div>
        </div>
        
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.recommender_name.id_for_label }}" class="form-label">{{ form.recommender_name.label }}</label>
                {{ form.recommender_name }}
                {{ form.recommender_name.errors }}
            </div>
            <div class="col">
                <label for="{{ form.religion.id_for_label }}" class="form-label">{{ form.religion.label }}</label>
                {{ form.religion }}
                {{ form.religion.errors }}
            </div>
        </div>
        
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.education_level.id_for_label }}" class="form-label">{{ form.education_level.label }}</label>
                {{ form.education_level }}
                {{ form.education_level.errors }}
            </div>
            <div class="col">
                <label for="{{ form.sitter_number.id_for_label }}" class="form-label">{{ form.sitter_number.label }}</label>
                {{ form.sitter_number }}
                {{ form.sitter_number.errors }}
            </div>
        </div>
        <br>
        <div class="row g-3">
            <div class="col">
                <label for="{{ form.contact.id_for_label }}" class="form-label">{{ form.contact.label }}</label>
                {{ form.contact }}
                {{ form.contact.errors }}
            </div>
        </div>

        <div class="form-actions mt-3">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
