{% extends 'daycare/base.html' %}

{% block content %}
    <h1 style="font-size: 20px;"><b>Sitter Attendance List</b></h1>
</br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sitter Name</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in sitter_attendance %}
                <tr>
                    <td>{{ attendance.s_name }}</td>
                    <td>{{ attendance.date }}</td>
                    <td>{{ attendance.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_sitter_attendance' %}" class="btn btn-secondary">Add Attendance</a>
{% endblock %}
