{% extends 'daycare/base.html' %}

{% block content %}
<style>
    input {
        border: 2px solid black;
    }
    select {
        border: 2px solid black;
    }
    form p {
        margin-bottom: 10px;
    }

    form p label {
        display: block;
        margin-bottom: 5px; 
    }
    
  </style>
<body>
    <h1 style="font-size: 20px;"><b>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Stock</b></h1>
</br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Save</button>
    </form>
</body>
</html>
{% endblock %}
