{% extends 'daycare/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 style="text-align: center;"><b>STOCK LIST</b></h2>
    <table class="table">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Purchased On</th>
                <th>Quantity Bought</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.item_name }}</td>
                    <td>{{ stock.purchased_on }}</td>
                    <td>{{ stock.quantity_bought }}</td>
                    <td>
                    <a href="{% url 'view_stock' stock.id %}" class="btn btn-info btn-sm" title="View">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'edit_stock' stock.id %}" class="btn btn-warning btn-sm" title="Edit">
                        <i class="fas fa-edit"></i>
                    </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_stock' %}" class="btn btn-secondary">Add Stock</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>  
{% endblock %}
